:root{
    --white: #ffffff;
    --dark: #000000;
    --primary: #f3ffe6;
    --secundary: #337044;
}

header {
    text-align: center;
    padding: 20px 0;
}

header img {
    max-width: 475px;
}

body {
    font-size: 16px;
    background-color: var(--primary);
}

.first-section h2 {
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    font-weight: 2000;
    font-family: 'Brush Script MT',cursive;
    font-weight: 100;
    font-style: normal;
}

.first-section h3 {
    color: var(--secundary);
    text-align: center;
    font-size: 15px;
    font-weight: 2000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 10px;
}

.parrafo-centrado {
    text-align: justify;
    align-content: center;
    max-width: 50%;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 15px;
}

.banner{
    background-image: url('../Imagenes/Image-1.jpg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    padding: 0 1rem;
    max-width: 68%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: var(--secundary);
    border: 2px solid var(--secundary);
    background-color: transparent;
    border-radius: 5px;
    margin: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.container-btn {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-top: 600px;
    padding: 20px;
}

.btn:hover {
    background-color: #3e5639;
    color: #f4f1e5;
    cursor: pointer;
}

.btn-down {
    display: flex;
    padding: 20px 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: var(--secundary);
    border: 2px solid var(--secundary);
    background-color: transparent;
    border-radius: 35px;
    margin: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container-btn-down {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center;
    text-align: center;
}

.btn-down:hover {
    background-color: var(--secundary);
    color: var(--white);
    cursor: pointer;
}

.first-section h2 {
    color: var(--secondary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.services {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.services .icon{
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    color: var(--dark);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 75%;
}

footer {
    text-align: center;
    font-weight: 700;
    font-family: 'Brush Script MT',cursive;
    margin-top: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
    margin-top: 200px;
    width: 100%;
    height: auto;
}

.container-icon svg {
    width: 200px;
    height: 300px;
}

.container-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    gap: 100px;
    width: 40%;
    height: 300px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 100px;
}

.image-gallery div {
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;
}

.image-gallery img {
    width: 50%;
    height: 200;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}